<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<title>游记详情页</title>
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/gj_index.css" />
	<link rel="stylesheet" href="css/gj_main.css" />
	<link rel="stylesheet" href="css/swiper.min.css" />
	<script type="text/javascript" src="js/jQuery.js"></script>
	<script type="text/javascript" src="js/rem.js"></script>
	<script type="text/javascript" src="js/iscroll.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
</head>
<body >
	<header>首页</header>
	<div id="wrapper" style="background: #f6f6f6">
		<ul>
			<li>
				<!--缩略图-->
				<div class="suolue">
					<img src="img/xiangqing/gj_tu1.png" alt="" />
				</div>

			</li>
		
			<li>
			<!--文章详情-->
			<div class="gj_mainCon">
				<div class="maincon_header">
					<div class="h_tit">
					<div class="h_left">
					<h4>梦想的盛宴<span>欧洲深度五十日游</span></h4>
					<span class="English">The feast of the dream European tour</span>
					</div>
					<div class="h_right">
						<a href="">
							<img src="img/xiangqing/gj_xin.png" alt="" />
							<span>收藏</span>
						</a>
					</div>
					</div>
					<div class="h_dingwei">
						<div class="d_left">
							<img src="img/gj_dingwei.png" alt="" />
							<span>In Paris</span>
						</div>
						<div class="d_right">
							<div class="yellow"></div>
							<time>2017.01.02</time>
						</div>
					</div>
					<div class="h_zuozhe">
						<img src="img/xiangqing/gj_tou1.png" alt="" />
						<div class="z_con">
							<h6>去漂流EVEN</h6>
							<div class="dengji">
								LV3
								<!--<i>3</i>-->
							</div>
							<h6 class="qianming">心要自由，人就要漂流</h6>
						</div>
					</div>
				</div>
				<div class="aiticle_list">
					<h6>THE FIRST DAY</h6>
					<h5>巴黎春天</h5>
					<p>在巴黎的五天里，除去卢浮宫一天，剩下的时间都是街头暴走。我最喜欢的旅行方式，就是行走在一个陌生而有趣的城市，不需要定什么目的地。看到喜欢的小店就进去逛逛，看到本地人多的餐厅就去吃顿当地美食。</p>

				</div>
					<img  class="article_img" src="img/xiangqing/gj_7462x.png" alt="" / >
					
				<div class="aiticle_list">
					<h6>THE FIRST DAY</h6>
					<h5>巴黎春天</h5>
					<p>在巴黎的五天里，除去卢浮宫一天，剩下的时间都是街头暴走。我最喜欢的旅行方式，就是行走在一个陌生而有趣的城市，不需要定什么目的地。看到喜欢的小店就进去逛逛，看到本地人多的餐厅就去吃顿当地美食。</p>

				</div>
					<img  class="article_img" src="img/xiangqing/gj_7462x.png" alt="" / >
					
				<div class="aiticle_list">
					<h6>THE FIRST DAY</h6>
					<h5>巴黎春天</h5>
					<p>在巴黎的五天里，除去卢浮宫一天，剩下的时间都是街头暴走。我最喜欢的旅行方式，就是行走在一个陌生而有趣的城市，不需要定什么目的地。看到喜欢的小店就进去逛逛，看到本地人多的餐厅就去吃顿当地美食。</p>

				</div>
					<img  class="article_img" src="img/xiangqing/gj_7462x.png" alt="" / >
				
			</div>
			</li>
			
			
			<li>
			<!--评论区-->
			<div class="comment">
				<div class="comment_header">
					<div class="ch_left">
						<span style="color: #b9b9b9;">COMMENTS</span>
						<span class="ch_comment">点评</span>
					</div>
					<div class="ch_right">
						<a href=""><img src="img/xiangqing/gj_xie.png" alt="" /></a>
					</div>
				</div>
				<div class="comment_list">
					<div class="cl_header">
						<div class="cl_headerl">
							<img src="img/xiangqing/gj_tou3.png" alt="" />
							<span>
								A.MANDA
							<time>2017.01.02</time>
							</span>
							
						</div>
						<div class="cl_headerr">
							<span>★★★★★</span>
						</div>
					</div>
					<div class="cl_con">
						<p>满满的甜品柜，一进去眼睛都放光啦，特别多好吃的，我点了兰姆巴，用餐区真的好大，可以坐下来慢慢品尝真的好想天天都来~</p>
					</div>
				</div>
				
				<div class="comment_list">
					<div class="cl_header">
						<div class="cl_headerl">
							<img src="img/xiangqing/gj_tou3.png" alt="" />
							<span>
								A.MANDA
							<time>2017.01.02</time>
							</span>
							
						</div>
						<div class="cl_headerr">
							<span>★★★★★</span>
						</div>
					</div>
					<div class="cl_con">
						<p>满满的甜品柜，一进去眼睛都放光啦，特别多好吃的，我点了兰姆巴，用餐区真的好大，可以坐下来慢慢品尝真的好想天天都来~</p>
					</div>
				</div>
				<div class="all">
					<span>查看全部点评（共18条）></span>
				</div>
				<div class="comment_list">
					<div class="cl_header">
						<div class="cl_headerl">
							<img src="img/xiangqing/gj_tou3.png" alt="" />
							<span>
								A.MANDA
							<time>2017.01.02</time>
							</span>
							
						</div>
						<div class="cl_headerr">
							<span>★★★★★</span>
						</div>
					</div>
					<div class="cl_con">
						<p>满满的甜品柜，一进去眼睛都放光啦，特别多好吃的，我点了兰姆巴，用餐区真的好大，可以坐下来慢慢品尝真的好想天天都来~</p>
					</div>
				</div>
				<div class="all1" style="display: none;">
					<span>收起></span>
				</div>
				
			</div>
			
			<div class="huifu">
				<input type="text"  name="con" placeholder="回复楼主"/>
				<input type="submit" name="submit" value="发送"/>
				<div class="like"></div>
			</div>
			</li>
		
		</ul>
	</div>
	

	<footer></footer>
	
</body>
</html>
<script type="text/javascript">
	var myScroll;
    myScroll = new IScroll('#wrapper');	
	var swiper = new Swiper('.swiper-container',{
		pagination: '.swiper-pagination',
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflow: {
            rotate: 50,
//          stretch: 0,
//          depth: 100,
//          modifier: 1,
            slideShadows : true
        }
	});
	var alls=$(".all");
	var all1=$(".all1")
	var comment=$(".comment");
//	var flag=true;
	alls.click(function(){
//		if(flag){
			comment.css("height","auto");
			alls.css("display","none");
			all1.css("display","block");
//			flag=false;
})
//		}else{
	all1.click(function(){
		comment.css("height","7.2rem");
			alls.css("display","block");
			all1.css("display","none");
//			flag=true;
	})
			
//		}
		
//	})
</script>
