<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<title>直播首页</title>
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/gj_index.css" />
	<link rel="stylesheet" href="css/swiper.min.css" />
	<link rel="stylesheet" href="css/gj_zhiboindex.css" />
	<script type="text/javascript" src="js/jQuery.js"></script>
	<script type="text/javascript" src="js/rem.js"></script>
	<script type="text/javascript" src="js/iscroll.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
</head>
<body >
	<header>首页</header>

	<div id="wrapper" style="background: #f6f6f6">
		<!--banner图-->
	<ul>
		<li>
		<div class="banner">
			<div class="neikuan">
				<div class="banner1">
					<img src="img/gj_yuan1.png" alt="" />
				</div>
				<div class="banner2">
					<img src="img/gj_yuan1.png" alt="" />
				</div>
				 <div class="banner3 swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/gj_banner2.png" alt="" />	</div>
            <div class="swiper-slide"><img src="img/gj_banner1.png" alt="" />	</div>
            <div class="swiper-slide"><img src="img/gj_banner2.png" alt="" />	</div>
            <div class="swiper-slide"><img src="img/gj_banner1.png" alt="" />	</div>
            <div class="swiper-slide"><img src="img/gj_banner2.png" alt="" />	</div>
            <div class="swiper-slide"><img src="img/gj_banner1.png" alt="" />	</div>
            <div class="swiper-slide"><img src="img/gj_banner2.png" alt="" />	</div>
        </div>
    </div>	
    </div>
    </div>
    </li>
    
    <!--热门直播-->
    <li>
    	<div class="hot_zhibo">
    		<div class="zb_header">
    			<div class="h_timu">
    				<div class="dot1"></div>
    				<div class="dot2"></div>
    				<div class="dot3"></div>
    				<span>热门直播</span>
    				<div class="dot3"></div>
    				<div class="dot2"></div>
    				<div class="dot1"></div>
    			</div>
    			<div class="h_English">
    				GIVE YOU A DIFFERENT life EXPREIENCR 
    			</div>
    			<div class="h_xian"></div>
    		</div>
    		<div class="zb_banner swiper-container">
    			<div class="swiper-wrapper">
    		<div class="banner_list swiper-slide">
    			<img src="img/gj_touxiang2.png" alt="" class="b_touxiang"/>
				<div class="h_name">SMNADA</div>
				<div class="h_xingji">★★★★★</div>
				<div class="banner_img">
					<img src="img/gj_tu3.png" alt="" class="b_picture"/>
					<img src="img/gj_yuan1.png" alt="" class="b_yinying"/>
				</div>
				<div class="banner_tit">普吉岛，不只有海岛</h4>
					<div class="banner_message">
						<div class="b_liulan">
							<img src="img/gj_guankan.png" alt="" />
							82800
						</div>
						<div class="b_xiaoxi">
							<img src="img/gj_pinglun.png" alt="" />
							8800
						</div>
						<div class="b_guanzhu">
							<img src="img/gj_bzan.png" alt="" />
							800
						</div>
					</div>
    		</div>	
    		</div>
    		
    		
    		<div class="banner_list swiper-slide">
    			<img src="img/gj_touxiang2.png" alt="" class="b_touxiang"/>
				<div class="h_name">SMNADA</div>
				<div class="h_xingji">★★★★★</div>
				<div class="banner_img">
					<img src="img/gj_tu3.png" alt="" class="b_picture"/>
					<img src="img/gj_yuan1.png" alt="" class="b_yinying"/>
				</div>
				<div class="banner_tit">普吉岛，不只有海岛</h4>
					<div class="banner_message">
						<div class="b_liulan">
							<img src="img/gj_guankan.png" alt="" />
							82800
						</div>
						<div class="b_xiaoxi">
							<img src="img/gj_pinglun.png" alt="" />
							8800
						</div>
						<div class="b_guanzhu">
							<img src="img/gj_bzan.png" alt="" />
							800
						</div>
					</div>
    		</div>	
    		</div>
    		
    		<div class="banner_list swiper-slide">
    			<img src="img/gj_touxiang2.png" alt="" class="b_touxiang"/>
				<div class="h_name">SMNADA</div>
				<div class="h_xingji">★★★★★</div>
				<div class="banner_img">
					<img src="img/gj_tu3.png" alt="" class="b_picture"/>
					<img src="img/gj_yuan1.png" alt="" class="b_yinying"/>
				</div>
				<div class="banner_tit">普吉岛，不只有海岛</h4>
					<div class="banner_message">
						<div class="b_liulan">
							<img src="img/gj_guankan.png" alt="" />
							82800
						</div>
						<div class="b_xiaoxi">
							<img src="img/gj_pinglun.png" alt="" />
							8800
						</div>
						<div class="b_guanzhu">
							<img src="img/gj_bzan.png" alt="" />
							800
						</div>
					</div>
    		</div>	
    		</div>
    		
    		<div class="banner_list swiper-slide">
    			<img src="img/gj_touxiang2.png" alt="" class="b_touxiang"/>
				<div class="h_name">SMNADA</div>
				<div class="h_xingji">★★★★★</div>
				<div class="banner_img">
					<img src="img/gj_tu3.png" alt="" class="b_picture"/>
					<img src="img/gj_yuan1.png" alt="" class="b_yinying"/>
				</div>
				<div class="banner_tit">普吉岛，不只有海岛</h4>
					<div class="banner_message">
						<div class="b_liulan">
							<img src="img/gj_guankan.png" alt="" />
							82800
						</div>
						<div class="b_xiaoxi">
							<img src="img/gj_pinglun.png" alt="" />
							8800
						</div>
						<div class="b_guanzhu">
							<img src="img/gj_bzan.png" alt="" />
							800
						</div>
					</div>
    		</div>	
    		</div>
    		
    		
    			
    			</div>
    	</div>
    	
    </li>
		<!--图-->
		<li>
			<div class="image">
				<img src="img/gj_tianma1.png" alt="" />
			</div>
		</li>
		
		<!--全部直播-->
		<li>
			<div class="all_zhibo">
				<div class="zb_header">
    			<div class="h_timu">
    				<div class="dot1"></div>
    				<div class="dot2"></div>
    				<div class="dot3"></div>
    				<span>全部直播</span>
    				<div class="dot3"></div>
    				<div class="dot2"></div>
    				<div class="dot1"></div>
    			</div>
    			<div class="h_English">
    				GIVE YOU A DIFFERENT life EXPREIENCR 
    			</div>
    			<div class="h_xian"></div>
    		</div>
    		
    		<div class="zhibo_list">
    			<img src="img/gj_1.png" alt="" class="zhibo_pictures"/>
    			<div class="zhibo_dingwei">
    				<div class="dingwei_l">
    					<div class="xinhao1"></div>
    					<div class="xinhao2"></div>
    					<div class="xinhao3"></div>
    					<div class="xinhao4"></div>
    					<span>SALIVE</span>
    					<div class="doing"><i>正在</i>直播</div>
    				</div>
    				<div class="dingwei_r">
    					<img src="img/gj_hot2x.png" alt="" />
    				</div>
    			</div>
    			<div class="zhibo_tit">
    				<div class="zhibo_top">
    					<img src="img/gj_zhibo.png" alt="" />
    					<span>布里托斯的大街小巷</span>
    				</div>
    				<div class="zhibo_bottom">
    					四周围着巨大而沉重的石灰石，上面刻着胡夫法老的名字...
    				</div>
    			</div>
    			<div class="zhibo_xiaoxi">
    				<div class="zhibo_didian">
    					<img src="img/gj_lvxing.png" alt="" />
    					<span>英国·布里托斯</span>
    				</div>
    				<div class="zhibo_num">
    					<img src="img/gj_zhibo11.png" alt="" />
    					<span>988</span>Watch
    				</div>
    				<div class="zhibo_like">
    					<img src="img/gj_zan.png" alt="" />
    					<span>568</span>Thumb up
    				</div>
    			</div>
    		</div>
    		
    		<div class="zhibo_list">
    			<img src="img/gj_1.png" alt="" class="zhibo_pictures"/>
    			<div class="zhibo_dingwei">
    				<div class="dingwei_l">
    					<div class="xinhao1"></div>
    					<div class="xinhao2"></div>
    					<div class="xinhao3"></div>
    					<div class="xinhao4"></div>
    					<span>SALIVE</span>
    					<div class="doing"><i>正在</i>直播</div>
    				</div>
    				<div class="dingwei_r">
    					<img src="img/gj_hot2x.png" alt="" />
    				</div>
    			</div>
    			<div class="zhibo_tit">
    				<div class="zhibo_top">
    					<img src="img/gj_zhibo.png" alt="" />
    					<span>布里托斯的大街小巷</span>
    				</div>
    				<div class="zhibo_bottom">
    					四周围着巨大而沉重的石灰石，上面刻着胡夫法老的名字...
    				</div>
    			</div>
    			<div class="zhibo_xiaoxi">
    				<div class="zhibo_didian">
    					<img src="img/gj_lvxing.png" alt="" />
    					<span>英国·布里托斯</span>
    				</div>
    				<div class="zhibo_num">
    					<img src="img/gj_zhibo11.png" alt="" />
    					<span>988</span>Watch
    				</div>
    				<div class="zhibo_like">
    					<img src="img/gj_zan.png" alt="" />
    					<span>568</span>Thumb up
    				</div>
    			</div>
    		</div>
    		
    		<div class="zhibo_list">
    			<img src="img/gj_1.png" alt="" class="zhibo_pictures"/>
    			<div class="zhibo_dingwei">
    				<div class="dingwei_l">
    					<div class="xinhao1"></div>
    					<div class="xinhao2"></div>
    					<div class="xinhao3"></div>
    					<div class="xinhao4"></div>
    					<span>SALIVE</span>
    					<div class="doing"><i>看看</i>回放</div>
    				</div>
    				<div class="dingwei_r">
    					<img src="img/gj_huifang.png" alt="" />
    				</div>
    			</div>
    			<div class="zhibo_tit">
    				<div class="zhibo_top">
    					<img src="img/gj_zhibo.png" alt="" />
    					<span>布里托斯的大街小巷</span>
    				</div>
    				<div class="zhibo_bottom">
    					四周围着巨大而沉重的石灰石，上面刻着胡夫法老的名字...
    				</div>
    			</div>
    			<div class="zhibo_xiaoxi">
    				<div class="zhibo_didian">
    					<img src="img/gj_lvxing.png" alt="" />
    					<span>英国·布里托斯</span>
    				</div>
    				<div class="zhibo_num">
    					<img src="img/gj_zhibo11.png" alt="" />
    					<span>988</span>Watch
    				</div>
    				<div class="zhibo_like">
    					<img src="img/gj_zan.png" alt="" />
    					<span>568</span>Thumb up
    				</div>
    			</div>
    		</div>
			</div>
			
		</li>

		

	</div>
	</div>
	</ul>
	
	</div>
	<footer></footer>
	
</body>
</html>
<script type="text/javascript">
	var myScroll;
    myScroll = new IScroll('#wrapper');	
	var swiper = new Swiper('.hot_zhibo .swiper-container',{
        grabCursor: true,
        slidesPerView: 2,
        spaceBetween: 30
//      centeredSlides: true,
//      slidesPerView: 'auto',
//      spaceBetween: 30,
//      coverflow: {
//          rotate: 50,
//          stretch: 0,
//          depth: 100,
//          modifier: 1,
//          slideShadows : true
//      }
	});
	var swiper1 = new Swiper('.banner .swiper-container',{
        grabCursor: true,
        slidesPerView: 1,
//      spaceBetween: 30
        centeredSlides: true,
//      slidesPerView: 'auto',
//      spaceBetween: 30,
        coverflow: {
//          rotate: 50,
//          stretch: 0,
//          depth: 100,
//          modifier: 1,
            slideShadows : true
        }
	});
</script>
