<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/ldd_createyj.css">
    <script src="js/rem.js"></script>
</head>
<body>
<header id="ldd_header">
    <ul>
        <li class="cancle">取消</li>
        <li class="title">创建新游记</li>
        <li class="next">
            <div>下一步</div>
        </li>
    </ul>
</header>
<div id="ldd_body">
     <div class="yj_title">
         <img src="img/ldd_pen.png" alt="">
         给你的游记取一个漂亮的标题吧!
     </div>
    <div class="yj_photo">
        <div class="getphoto">
            <img src="img/ldd_camera.png" alt="">
            <input type="file">
        </div>
        <div class="txt">
            选张美照做封面吧!
        </div>
    </div>
    <div class="yj_position">
        <div class="where"><img src="img/ldd_where.png" alt="">你在哪里</div>
    </div>
</div>
</body>
</html>