<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/ldd_startzb.css">
    <script src="js/rem.js"></script>
</head>
<body>
<header id="ldd_header">
    <ul>
        <!--<li class="cancle">取消</li>-->
        <li class="title">开启直播</li>
        <!--<li class="next">-->
            <!--<div>下一步</div>-->
        <!--</li>-->
    </ul>
</header>
<div id="ldd_body">
    <div class="headinfo">
        <ul>
            <li class="pos">
                <!--<div class="posbox">-->
                    <img src="img/ldd_dingwei.png" alt="">
                    北京
                <!--</div>-->
            </li>
            <li class="suo">
                <img src="img/ldd_suo.png" alt="">
            </li>
            <li class="you">
                <a href="">
                    <img src="img/ldd_ren.png" alt="">
                </a>
            </li>
            <li class="camera">
                <img src="img/ldd_fanzhuan.png" alt="">
            </li>
            <li class="close">
                <img src="img/ldd_guanbi.png" alt="">
            </li>
        </ul>
    </div>
    <div class="zbdesc">
        <div class="zbtil">直播频道
            <div class="jiedao">
                <img src="img/ldd_jiedao.png" alt="">
                街道 >
            </div>
        </div>
        <div class="desc">
            <div class="touxiang" style="background-image: url(img/ldd_touxiang.png);background-size: cover"></div>
            <div class="huati">
                <div class="write">
                    <img src="img/ldd_pen.png" alt="">
                    今天想播点什么呢
                </div>
                <div class="ele">
                    +话题标签
                </div>
            </div>
        </div>
    </div>
    <div class="share">
        <ul>
            <li>
                <img src="img/ldd_pengyouquan.png" alt="">
            </li>
            <li>
                <img src="img/ldd_weixin.png" alt="">
            </li>
            <li>
                <img src="img/ldd_qq.png" alt="">
            </li>
            <li>
                <img src="img/ldd_weibo.png" alt="">
            </li>
            <li>
                <img src="img/ldd_kongjian.png" alt="">
            </li>
        </ul>
    </div>
    <div class="zbbtnbox">
        <a href="">
            <img src="img/ldd_startbtn.png" alt="">
            <p>开·启·直·播</p>
        </a>
    </div>
</div>
</body>
</html>