<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/ldd_readyzb.css">
    <script src="js/rem.js"></script>
</head>
<body id="ldd_body">
<div class="readybg">
    <div class="head">
        <ul>
            <li class="people">
                <img src="img/ldd_live.png" alt="">
                <p>糯米团子</p>
            </li>
            <li class="share">
                <a href="">
                    <img src="img/ldd_gb.png" alt="">
                </a>
            </li>
            <li class="close">
                <a href="">
                    <img src="img/ldd_gb.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="liwubox">
         <div class="liwu">
             <i style="font-style: normal">00:00</i>
             <a href=""><img src="img/ldd_liwu.png" alt=""></a>
         </div>
    </div>
</div>
<div class="readycl"></div>
<div class="djs">
    <i class="time">3</i>
    <p class="rey">快准备啦~</p>
</div>
</body>
</html>