<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/ldd_contentyj.css">
    <script src="js/rem.js"></script>
</head>
<body>
<header id="ldd_header">
    <ul>
        <li class="cancle">取消</li>
        <li class="title">创建新游记</li>
        <li class="next">
            <div>发布</div>
        </li>
    </ul>
</header>
<div id="ldd_body">
    <ul>
        <li>
             <div class="title">
                 巴黎春天
             </div>
             <div class="content">
                 <p>在巴黎的五天里，除去卢浮宫一天，剩下的时间都是街头暴走。我最喜欢的旅行方式，就是行走在一个陌生而有趣的城市，不需要定什么目的地。看到喜欢的小店就进去逛逛，看到本地人多的餐厅就去吃顿当地美食。</p>
             </div>
             <div class="pic" style="background-image: url(img/ldd_content03.png)"></div>
        </li>
        <li>
            <div class="title">
                香榭丽舍大街
            </div>
            <div class="content">
                <p>在巴黎的几天内，最爱的逛街区是知名的玛黑区。坐地铁到Saint Paul站下车，之后随意在街头散步就好。
                    推荐一家叫Merci的买手店，店面很大，汇聚了各式有格调的生活用品、衣物等等。楼下有一家简餐厅，沙拉和饮品都很好。</p>

                <p>我是在网上提前在淘宝买的门票，票价15欧元。一般花半天时间逛比较适中。建议不要从玻璃金字塔的大门排队进去，两边有小侧门完全不用排队。感兴趣的亲可以留言问我侧门入口信息。</p>


            </div>
            <div class="pic" style="background-image: url(img/ldd_content04.png)"></div>
        </li>
    </ul>
</div>
<div class="success-zz">
    <div class="success">
        <img src="img/ldd_pic.png" alt="">
        <div class="success-info">游记发布成功</div>
        <div class="success-button">
            <ul>
                <li>
                    <div class="showbtn">查看游记</div>
                </li>
                <li>
                    <div class="backbtn">返回首页</div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>