<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/ldd_esczb.css">
    <script src="js/rem.js"></script>
</head>
<body id="ldd_body">
    <div class="bg">
       <div class="escbox">
            <div class="zbtime">
                直播时长 <span>50:30</span>
            </div>
            <div class="zbrel">
                <ul>
                    <li><img src="img/ldd_zhibo.png" alt="">&nbsp;观看人数:<span>&nbsp;3246</span>人</li>
                    <li><img src="img/ldd_zan.png" alt="">&nbsp;获赞数:<span>&nbsp;3246</span>人</li>
                    <li><img src="img/ldd_fen.png" alt="">&nbsp;新增粉丝:<span>&nbsp;3246</span>人</li>
                    <li><img src="img/ldd_liwu.png" alt="">&nbsp;收到礼物:<span>&nbsp;3246</span>人</li>
                </ul>
            </div>
           <div class="shareSave">
               <div class="share">
                   <div class="shareto">分享到:</div>
                   <div class="to">
                       <a href=""><img src="img/ldd_pyq.png" alt=""></a>
                       <a href=""><img src="img/ldd_kj.png" alt=""></a>
                       <a href=""><img src="img/ldd_wb.png" alt=""></a>
                   </div>
               </div>
               <div class="save">
                   <div class="class">保存视频</div>
                   <div class="savebtn">
                       <img src="img/ldd_kg.png" alt="">
                   </div>
               </div>
           </div>
            <div class="zbbtn">
                <ul>
                    <li>
                        <div class="longer"><a href="">再播一会</a></div>
                    </li>
                    <li>
                        <div class="nowesc"><a href="">确定下播</a></div>
                    </li>
                </ul>
            </div>
       </div>
    </div>
</body>
</html>