<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/zjh_main.css">
    <link rel="stylesheet" href="{CSS_PATH}/zjh_base.css">
    <script src="{JS_PATH}/rem.js"></script>
    <script src="{JS_PATH}/jQuery.js"></script>
    <script src="{JS_PATH}/header.js"></script>
</head>
<body>
<div class="zjh_Login">
    <form action="" class="zjhLogin_box">
        <div class="face"></div>
        <label>用户名 <em>NAME</em></label>
        <div class="account" style="margin-top: 0">
            <span class="loguser"></span>
            <input type="text"  name="mname" placeholder="请输入用户名或手机号">
        </div>
        <label>密码 <em>PASSWORD</em></label>
        <div class="password" style="margin-top: 0">
            <span class="logpass"></span>
            <input type="password"  name="mpass" placeholder="请输入字母组合的六位密码">
        </div>
        <div class="caozuo">
        <a href="" class="zhpass">找回密码</a>
        <a href="zjh_Reg.html" class="zc">快速注册</a>
        </div>
        <button class="Regbtn willLogin">
            登录
        </button>
    </form>

    <ul class="zjhthird">
        <li class="zjhwchat"></li>
        <span></span>
        <li class="zjhqq"></li>
        <span></span>
        <li class="zjhwb"></li>
    </ul>
</div>
</body>
</html>